/* CalendarioAgendamento.css */

.calendario-container {
  display: flex;
  height: 100vh;
}

.lista-profissionais {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* Ajuste conforme necessário */
  margin-right: 8px;
  /* Espaço entre a lista e o calendário */
}

.profissional-item {
  padding: 5px;
  margin: 1px 0px;
  cursor: pointer;
  color: white;
  /* Ajuste conforme necessário */
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}

.calendar-wrapper {
  flex-grow: 1;
  min-height: 0;
  margin-top: 15px;
}

.fc {
  height: 100%;
}

.fc .fc-view-harness {
  height: 100% !important;
}

.fc .fc-toolbar {
  margin-bottom: 0.5em;
}

.fc .fc-toolbar-title {
  font-size: 1.2em;
}

.fc .fc-button-primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.fc .fc-button-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.fc .fc-col-header-cell-cushion {
  padding: 10px 4px;
}

.fc .fc-daygrid-day-number {
  padding: 4px;
}

.fc .fc-timegrid-slot-label-cushion {
  padding: 0 4px;
}

.fc-event {
  cursor: pointer;
  padding: 2px 4px;
}

.fc-event:hover {
  opacity: 0.8;
}

.fc-day-today {
  background-color: #f0fff4 !important;
}

.legenda {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.legenda-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.legenda-cor {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.fc-event-title {
  font-size: 10px;
}

.filtro-horario {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  align-items: center;
}

.filtro-horario label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
}

.filtro-horario input {
  padding: 5px;
  margin-top: 5px;
}

.fc .fc-button {
  padding: 0.4em 0.9em;
}

.sair-button {
  background-color: #7965a6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  width: 100%;
}

.sair-button:hover {
  background-color: #512da8;
}

.agendar-button {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.agendar-button:hover {
  background-color: #45a049;
}

/* Estilos para o modal de agendamento */
.agendamento-modal {
  position: fixed;
  top: 50%;
  left: 23.7%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.agendamento-modal button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.agendamento-modal button:hover {
  background-color: #45a049;
}

.current-time-line {
  border-top: 2px solid red;
  /* Ajuste a largura e a cor da linha conforme necessário */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.fc-timeGridWeek-view {
  .fc-timegrid-now-indicator-container {
    overflow: visible !important;

    .fc-timegrid-now-indicator-line {

      &::before,
      &::after {
        content: "";
        width: 700%;
        border-style: solid;
        border-width: 1px 0 0px;
        position: absolute;
        top: -1px;
        border-color: red !important;
      }

      &::before {
        right: 100%;
      }

      &::after {
        left: 100%;
      }
    }
  }
}

/* Estilos para o modal de detalhes do evento */
.evento-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.evento-modal h2 {
  margin-top: 0;
}

.evento-modal .fechar-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.evento-modal .fechar-button:hover {
  background-color: #45a049;
}

.cancelar-button {
  background-color: #f44336;
  margin: 5px;
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fc .fc-toolbar {
    flex-direction: column;
  }

  .fc .fc-toolbar-title {
    margin: 0.5em 0;
  }

  .filtro-horario {
    justify-content: center;
  }
}